:root {
    --primary: #33658A;
}

body {
    padding: 10px;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 10%;
    gap: 20px;
    justify-content: flex-end;
}

.btn {
    outline: 0;
    border: 0;
    color: var(--black);
    font-weight: bold;
    color: var(--white);
    padding: 10px 20px;
    border-radius: 6px;
    background: var(--primary);
    transition: ease .2s;
}

.btn:is(:hover, :active, :focus) {
    cursor: pointer;
    border-radius: 4px;
}

.section {
    position: relative;
    width: 100%;
    height: 100%;
}

.article {
    top: 0;
    left: -10%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: ease-out .3s;
    color: var(--white);
}

.article.active {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.searchForm {
    max-width: 350px;
    width: 100%;
    gap: 10px;
}

.searchForm>input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 6px;
    border: 0;
    outline: 0;
    background: var(--grey);
    font-weight: bold;
}

.article.list {
    align-items: flex-start;
}

.table {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 1250px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: var(--black);
    font-size: 1.25rem;
}

.table tr {
    background-color: var(--grey);
}

.table td {
    border: 1px solid var(--black);
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: var(--white);
    border: 1px solid var(--black);
    padding: 8px;
    text-align: left;
}

.table tr:nth-child(odd) {
    background-color: var(--white);
}

.table span {
    width: 100%;
    height: 100%;
}

.th-buttons {
    width: 100px;
}

.edit-mode input {
    display: inline-block;
    width: 80%;
}

.edit-mode span {
    display: none;
}

.edit-mode .buttons.edit {
    display: inline-block;
}

.edit-mode .buttons.normal {
    display: none;
}

.buttons {
    max-width: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttons>button {
    background: 0;
    outline: 0;
    border: 0;
    padding: 10px;
    font-size: 1.25rem;
    transition: ease .2s;
}

.buttons>button:is(:focus, :active, :hover) {
    cursor: pointer;
    color: var(--primary);
}

.edit-stock,
.edit-name {
    width: 100%;
    padding: 6px 5px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid var(--black);
    color: var(--black);
    font-size: 1.25rem;
}

.edit-name:is(:hover, :focus, :active),
.edit-stock:is(:hover, :focus, :active) {
    border-bottom-color: var(--primary);
}

.fi-br-cross {
    font-size: 1rem;
}

.fi-br-cross:is(:focus, :hover, :active) {
    color: var(--red, #D7263D) !important;
}

/* Form */

.form {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    padding: 1em 2em;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--white);
    color: var(--black);
    gap: 20px;
}

.ctn-inputs {
    width: 100%;
    gap: 30px;
}

.input {
    max-width: 300px;
    width: 100%;
    padding: 10px 15px;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 6px;
    outline: 0;
    border: 1px solid transparent;
    caret-color: var(--primary);
    transition: ease .2s;
}

.input:is(:hover, :focus, :active) {
    border: 1px solid var(--primary)
}

.ctn-inputs-course {
    max-width: 47%;
    width: 100%;
    gap: 30px;
}

.ctn-inputs-course>.input {
    max-width: 50%;
}

/* Checkbox */

.checkbox-wrapper-4 .cbx {
    position: relative;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
}

.checkbox-wrapper-4 .cbx:not(:last-child) {
    margin-right: 6px;
}

.checkbox-wrapper-4 .cbx:hover {
    background: rgba(0, 119, 255, 0.06);
}

.checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: #07f;
}

.checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child {
    background: #07f;
    border-color: #07f;
    animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.ctn-inputs-check {
    width: 100%;
    gap: 30px;
    padding: 6px 8px;
    justify-content: space-between;
}

.receipt-input {
    opacity: 0;
    visibility: hidden;
    left: -10px;
    bottom: 4px;
    position: relative;
    gap: 10px;
    transition: ease-out .3s;
}

.receipt-input.active {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.receipt-input>label {
    font-weight: 500;
}

.receipt-input>input {
    outline: 0;
    border: 0;
    padding: 6px 8px;
    border-radius: 6px;
}

.popUp {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #161616b2;
}

.popUp>form {
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    padding: 1em 2em;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--white);
    color: var(--black);
    gap: 20px;
}

.crossBtn {
    padding: 10px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: var(--white);
    border: 0;
    outline: 0;
    transition: ease .2s;
}

.crossBtn:is(:hover, :active, :focus) {
    cursor: pointer;
    background: ;
}

@media screen and (max-width: 640px) {
    .checkbox-wrapper-4 .cbx {
        width: 100%;
        display: inline-block;
    }
}

@keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}