body {
    width: 100%;
    height: 100vh;
    color: var(--primary);
}

/* Main */

.main {
    width: 100%;
    height: 100%;
}

/* Header */

.header {
    width: 100%;
    height: 6%;
    padding-inline: 1em;
    justify-content: flex-start;
    background: #11101d;
}

.header>h2 {
    font-weight: 500;
    color: var(--grey);
}

.section {
    width: 100%;
    height: 94%;
}

.section.home {
    background: url('../../public/images/fondo1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.article.home {
    width: 100%;
    height: 100%;
    backdrop-filter: url(filters.svg#filter) blur(2px) brightness(60%);
}

.formulario.home {
    max-width: 350px;
    width: 100%;
    border-radius: 10px;
    background: var(--grey);
    padding: 2em 1em 2em 1em;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.formulario.home>.shape {
    width: 100%;
    height: 1px;
    background: var(--black);
}

.formulario.home>h3 {
    font-size: 2rem;
}

.formulario.home>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario.home>div>input {
    padding: 5px 10px;
    border-radius: 6px;
    outline: 0;
    border: 0;
    background: var(--white);
    font-weight: 500;
    font-size: large;
    width: 100%;
}

.formulario.home>div>label {
    font-size: large;
    font-weight: 500;
}

.formulario.home>div>label:hover {
    cursor: pointer;
    color: var(--black);
}

.formulario.home>button {
    margin-top: 30px;
    width: 100%;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 10px;
    background: var(--color);
    color: var(--white);
    border: 0;
    outline: 0;
}

.formulario.home>button:hover {
    cursor: pointer;
}

/* Dashboard */

.section.dashboard {
    position: relative;
}

.section.dashboard {
    background: #e5e5e5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav.dashboard {
    max-width: 250px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 10px;
    background: var(--grey);
}

.nav-a {
    background: var(--secondary);
    color: var(--black);
    padding: 15px;
    width: 100%;
    justify-content: flex-start;
    transition: ease .2s;
}

.nav-a:is(:hover, :focus, :active) {
    cursor: pointer;
    color: var(--primary);
}

.nav-a.logOut {
    margin-top: auto;
}

.logOut.flex {
    justify-content: space-between;
}



.article.dashboard {
    padding: 10px;
    width: 100%;
    height: 100%;
    /* backdrop-filter: url(filters.svg#filter) blur(2px) brightness(60%); */
}

.article.dashboard>iframe {
    width: 100%;
    height: 100%;
}