:root {
    --color-primary: #C03221;
}

body {
    padding: 10px;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 10%;
    gap: 20px;
    justify-content: flex-end;
}

.btn {
    outline: 0;
    border: 0;
    color: var(--black);
    font-weight: bold;
    color: var(--white);
    padding: 10px 20px;
    border-radius: 6px;
    background: var(--color-primary);
    transition: ease .2s;
}

.btn:is(:hover, :active, :focus) {
    cursor: pointer;
    border-radius: 4px;
}

.section {
    position: relative;
    width: 100%;
    height: 100%;
}

.article {
    top: 0;
    left: -10%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: ease-out .3s;
}

.article.active {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.searchForm {
    max-width: 350px;
    width: 100%;
    gap: 10px;
}

.searchForm>input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 6px;
    border: 0;
    outline: 0;
    background: var(--grey);
    font-weight: bold;
}

.article.list {
    align-items: flex-start;
}

.table {
    max-width: 1250px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: var(--black);
    font-size: 1.25rem;
}

.table tr {
    background-color: var(--grey);
}

.table td {
    border: 1px solid var(--black);
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: var(--white);
    border: 1px solid var(--black);
    padding: 8px;
    text-align: left;
}

.table tr:nth-child(odd) {
    background-color: var(--white);
}

.table span {
    width: 100%;
    height: 100%;
}

.th-buttons {
    width: 100px;
}

.stock {
    width: 100px;
    text-align: center;
}

.buttons {
    max-width: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttons>button {
    background: 0;
    outline: 0;
    border: 0;
    padding: 10px;
    font-size: 1.25rem;
    transition: ease .2s;
}

.buttons>button:is(:focus, :active, :hover) {
    cursor: pointer;
    color: var(--color-primary);
}

.form.addTool {
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    padding: 1em 2em;
    flex-direction: column;
    align-items: flex-start;
    background: var(--white);
    color: var(--black);
    gap: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form.addTool>div {
    width: 100%;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.form.addTool>div>label {
    font-weight: 500;
}

.form.addTool>div>input {
    width: 100%;
    padding: 10px 15px;
    font-size: 1.25rem;
    font-weight: 400;
    border-radius: 6px;
    outline: 0;
    border: 1px solid transparent;
    caret-color: var(--color-primary);
    transition: ease .2s;
}

.form.addTool>div>input:is(:hover, :focus, :active) {
    border: 1px solid var(--color-primary)
}

.edit-stock,
.edit-name {
    width: 100%;
    padding: 6px 5px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid var(--black);
    color: var(--black);
    font-size: 1.25rem;
}

.edit-name:is(:hover, :focus, :active),
.edit-stock:is(:hover, :focus, :active) {
    border-bottom-color: var(--color-primary);
}

.fi-br-cross {
    font-size: 1rem;
}

.fi-br-cross:is(:focus, :hover, :active) {
    color: var(--red, #D7263D) !important;
}

.btn-retiro {
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    background: var(--color-primary);
    color: var(--white);
    border: 2px solid transparent;
}

.btn-retiro:is(:hover, :focus, :active) {
    cursor: pointer;
}

.popUp {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #161616b2;
    transition: ease-out .2s;
}

.popUp.active {
    z-index: 999999;
    opacity: 1;
    visibility: visible;
}

.popUp.active>form {
    scale: 1;
}

.popUp>form {
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    padding: 1em 2em;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--white);
    color: var(--black);
    gap: 20px;
    scale: .7;
    transition: ease-out .3s;
}

.crossBtn {
    padding: 10px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: var(--white);
    border: 0;
    outline: 0;
    transition: ease .2s;
}

.crossBtn:is(:hover, :active, :focus) {
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100em;
    max-height: 500px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.containerButtons {
    width: 100%;
    gap: 20px;
}

.btn-popUp {
    background: 0;
    outline: 0;
    border: 2px solid var(--primary);
    color: var(--primary);
    border-radius: 6px;
    font-weight: bold;
    padding: 10px 20px;
    transition: ease .2s;
}

.btn-popUp:is(:hover, :focus, :active),
.btn-popUp.red:is(:hover, :focus, :active) {
    cursor: pointer;
    color: var(--black);
    border-color: var(--black);
    border-radius: 4px;
}

.btn-popUp.red {
    color: var(--red, #D7263D);
    border-color: var(--red, #D7263D);
}

.containerInsidePopUp {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 500px;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

.search_container {
    top: 0;
    position: relative;
    width: 100%;
    max-width: 350px;
    background: #fff;
    border-radius: 8px;
}

.search_field>input {
    width: 100%;
    padding: 10px 20px 10px 40px;
    outline: 0;
    border-radius: 6px;
    border: 1px solid transparent;
    transition: ease .3s;
    font-weight: bold;
    color: #6f768d;
    background: #fff;
    caret-color: var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.search_field>input:is(:hover, :focus, :active) {
    border-color: var(--color-primary);
}

.search_field>i {
    position: absolute;
    top: 10px;
    left: 10px;
    padding-right: 5px;
    border-right: 2px solid var(--grey);
}

.search_option {
    margin: auto;
    max-width: 100%;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    border-radius: 8px;
}

.search_option:is(:hover, :focus, :active) {
    background: #f5f5f5;
    cursor: pointer;
}

#search_options {
    background: var(--white);
    top: 100%;
    width: 100%;
    position: absolute;
    flex-direction: column;
    gap: 5px;
    max-height: 200px;
    overflow-y: auto;
    transition: ease .2s;
}

#search_options::-webkit-scrollbar {
    width: 6px;
}

#search_options::-webkit-scrollbar-track {
    background: 0;
}

#search_options::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 20px;
}

#container_retiro {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px 20px;
}

.item {
    max-width: max-content;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    background: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-weight: bold;
}

.item>label {
    margin-right: 20px;
    color: var(--primary);
    transition: ease .2s;
}

.item>label:is(:hover, :active, :focus) {
    color: var(--black);
    cursor: pointer;
}

.item>input {
    background: 0;
    outline: 0;
    border-radius: 6px;
    border: 1px solid var(--grey);
    max-width: 50px;
    width: 100%;
    padding: 8px 7px;
    font-weight: bold;
    margin-right: 10px;
}

.item>button {
    padding: 5px;
    display: grid;
    place-items: center;
    background: 0;
    outline: 0;
    border: 0;
}

.item>button:is(:hover, :active, :focus) {
    cursor: pointer;
}